@model AppPeriodico.Models.TipoPublicacion

@{
    ViewBag.Title = "Delete";
}

<html>
<body style="background-color: darksalmon">
    <style>
        #Encabezado {
            color: black;
            padding: 20px;
            text-align: center;
            font-family: 'Juice ITC';
            font-size: 400%;
        }
    </style>
    <h1 id="Encabezado"><b>¿Está seguro de Eliminar este Tipo de Publicacion?</b></h1>
</body>
</html>
<div>
    <h4>TipoPublicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-default" /> |
    <input type="button" value="Regresar" class="btn btn-default" onclick="location.href='@Url.Action("Index", "TipoPublicacion")'">
</div>
    }
</div>

