@model AppPeriodico.Models.TipoPublicacion

@{
    ViewBag.Title = "Details";
}


<html>
<body style="background-color: darksalmon">
    <style>
        #Encabezado {
            color: black;
            padding: 20px;
            text-align: center;
            font-family: 'Juice ITC';
            font-size: 400%;
        }
    </style>
    <h1 id="Encabezado"><b>Detalles de Tipo de Publicacion</b></h1>
</body>
</html>
<body>
    <div>
        <h4>TipoPublicacion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>

        </dl>
    </div>
    <p>
        <input type="button" value="Editar" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "TipoPublicacion", new { id = Model.idTipoPublicacion })'"> |
        <input type="button" value="Regresar" class="btn btn-default" onclick="location.href='@Url.Action("Index", "TipoPublicacion")'">
    </p>
</body>

