@model AppPeriodico.Models.Comentario

@{
    ViewBag.Title = "Delete";
}

    <html>
    <body>
        <style>
            #Encabezado {
                color: black;
                padding: 20px;
                text-align: center;
                font-family: 'Juice ITC';
                font-size: 400%;
            }
        </style>
        <h1 id="Encabezado"><b>¿Esta seguro de eliminar este comentario?</b></h1>
    </body>
    </html>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Comentario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
