

@model List<AppPeriodico.Models.ViewModels.ListTipoUsuarioViewModels>
@{
    ViewBag.Title = "tipo de Usuarios";
}
<html>
<body>
    <style >
        #Encabezado {
            color: black;
            padding: 20px;
            text-align: center;
            font-family: 'Juice ITC';
            font-size: 400%;
        }
    </style>
    <h1 id="Encabezado"><b>Tipos de Usuario</b></h1>
</body>
</html>
<p>
    <input type="button" value="Crear Nuevo Tipo deUsuario" class="btn btn-default" onclick="location.href='@Url.Action("Create","TipoUsuario")'">
</p>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered ">
            <tr>

                <th>idTipoUsuario</th>
                <th>Usuario</th>



                <th>Operacion</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.idTipoUsuario</td>
                    <td>@oElemento.TipoUsuario1</td>


                    <td>
                        <input type="button" value="Editar" class="btn btn-default" onclick="location.href='@Url.Action("Edit","TipoUsuario", new { id= oElemento.idTipoUsuario})'"> |
                        <input type="button" value="Eliminar" class="btn btn-default" onclick="location.href='@Url.Action("Delete","TipoUsuario", new { id= oElemento.idTipoUsuario})'"> |
                        <input type="button" value="Detalles" class="btn btn-default" onclick="location.href='@Url.Action("Details","TipoUsuario", new { id= oElemento.idTipoUsuario})'">
                    </td>
                </tr>

            }
        </table>
    </div>

</div>
